@import '../mixin.scss';


@include tab {
    .carousel-cell{
       width: 95%;
       margin-right: 4px;
        height: 300px;        
        .l{
            display: transparent;
            .ll {
                width: 100%;
                height: 100%;
                display: flex;
                background: linear-gradient(to right, #030b17 40%, #030b1748, #030b1725, #030b1725);
                position: relative;
                z-index: 2;
                border-radius: 5px;
            
                .ll-text-aria {
                    width: 50%;
                    height: 100%;
                    // background: red;
                    margin-left: 20px;
            
                    .ll-movie-name {
                        text-transform: capitalize;
                        font-size: 30px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-display: swap;
                        margin-top: 30px;
            
                    }
            
                    p {
                        text-transform: capitalize;
                        font-size: 16px;
                        color: #909999;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .imgs{
        width: 100%;
        height: 100%;
    }
}

@include mobile {
    .carousel-cell{
       width: 95%;
       margin-right: 4px;
        height: 200px;        
        .l{
            display: transparent;
            .ll{
                background: none;
                // opacity: 50%;
                .ll-text-aria{
                    width: 43%;
                    margin: 0px;
                    padding: 15px 5px;
                    background:rgba(0, 0, 0, 0.349);
                    
                    .ll-movie-name{
                        font-size: 14px;
                        margin: 0;
                    }
                    p{
                        
                        font-size: 10px;
                        color: white;
                        margin: 5px 0px;
                        line-height: 13px;
                        
                    }
                }
            }
        }
    }
    .imgs{
        width: 100%;
    }
}

