.c{
  width: 100%;
  height: 500px;
  // background: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  .h2{
    font-size: 60px;
    color: #2ba7c9;
  }
}
